<a href="https://colab.research.google.com/github/CeliaBabu2002/Coding-Questions/blob/main/theory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
3
+#find pyramid number sum

https://www.turing.com/interview-questions/cloud




https://prepinsta.com/interview-preparation/technical-interview-questions/cloud-computing/



https://www.mygreatlearning.com/blog/cloud-computing-interview-questions/

cloud questions
Data warehousing Basics, ETL concepts, Cloud fundamentals Unix and shell scripting

In [ ]:
#1
n=int(input())
for i in range(0,n+1):
  for j in range(0,i+1):
    print(j,end=" ")
  print()

In [ ]:
#2
n=int(input())
for i in range(n,0,-1):
  for j in range(i,0,-1):
    print(j,end=" ")
  print()

In [ ]:
#4
n=int(input())
sum=0
for i in range(1,n+1):
  for j in range(1,i+1):
    sum=sum+j
print(sum)

In [ ]:
#5
n=int(input())
sum=0
for i in range(1,n+1):
  sum=sum+i**2
print(sum)

In [ ]:
#6
#find pyramid number sum
n=int(input())
sum=0
cnt=0
i=1
while(sum<n):
  sum=sum+i*i
  cnt+=1
  i=i+1
if(sum==n):
  print(cnt)
else:
  print("invalid")

In [ ]:
#7
#Palindrome
n=int(input())
temp=n
rev=0
while(n>0):
  digit=n%10
  rev=rev*10+digit
  n=n//10
if(rev==temp):
  print('p')
else:
  print('np')

#Sum of Digits

In [ ]:
n=int(input())
sum=0
while(n!=0):
  digit=n%10
  sum=sum+digit
  n//10
print(sum)

121

In [ ]:
"h"

#Dictionary & Set
[Apna College](https://www.youtube.com/watch?v=078tYSD7K8E)

In [ ]:
dict={"name":"celia","address":{"city":"thrissur","state":"kerala"}}
print(dict["address"]["city"])

thrissur

In [ ]:
# to print all keys
print(list(dict["address"].keys()))

['city', 'state']

In [ ]:
# to print all values
print(list(dict["address"].values()))

['thrissur', 'kerala']

In [ ]:
# to return key value pair as tuples
# here we can indiviualy we can retuen by tuple()
print(list(dict.items()))

[('name', 'celia'), ('address', {'city': 'thrissur', 'state': 'kerala'})]

In [ ]:
#to return value according to keyeven if there is no key existed it does'nt create error instead return none another rest of te code works
#
print(dict.get('name'))

None

In [ ]:
# to update the dictionary
new_dict=dict.update({"age":89dictionary using coding questions
                      })
print(dict)

{'name': 'celia', 'address': {'city': 'thrissur', 'state': 'kerala'}, 'age': 89}

#Exercise
Count Word Frequency

    Given a string, count the frequency of each word using a dictionary.
    Input: "apple banana apple orange banana apple"
    Output: {'apple': 3, 'banana': 2, 'orange': 1}

In [ ]:
n="apple banana apple orange banana apple"
dict={}
for word in n.split(" "):
  dict[word]=dict.get(word,0)+1
print(dict)

{'apple': 3, 'banana': 2, 'orange': 1}

Count Character Frequency

    Given a string, count the frequency of each character using a dictionary.
    Input: "hello"
    Output: {'h': 1, 'e': 1, 'l': 2, 'o': 1}

In [ ]:
n="hello"
dict={}
for ch in n:
  dict[ch]=dict.get(ch,0)+1
print(dict)

{'h': 1, 'e': 1, 'l': 2, 'o': 1}

Merge Two Dictionaries

    Given two dictionaries, merge them. If a key exists in both, sum the values.
    Input: d1 = {'a': 10, 'b': 20}, d2 = {'b': 30, 'c': 40}
    Output: {'a': 10, 'b': 50, 'c': 40}

In [ ]:
d1 = {'a': 10, 'b': 20}
d2 = {'b': 30, 'c': 40}
merge=d1.copy()
for key,value in d2.items():
  merge[key]=merge.get(key,0)+value
print(merge)

{'a': 10, 'b': 50, 'c': 40}

In [ ]:
n={"java","python","java","python","dsa","cn"}
# for i in n.split(","):
#   print(f"\"{i}\"",end=",")
# classr={}
# for i in n.split(","):
#   classr[i]=classr.get(i,0)+1
# classes=list(classr.keys())
# print(len(classes))
new_c=set(n)
print(len(new_c))

4

In [ ]:
dict_1={}
n=int(input())
dict_1.update({"phy":n})
c=int(input())
dict_1.update({"chem":c})
print(dict_1)

45
96
{'phy': 45, 'chem': 96}

In [ ]:
dict_2={}
list_1=[]
n=int(input())
for i in range(n):
  new=int(input())
  list_1.append(new)
dict_2['phy']=list_1
print(dict_2)

2
4
5
{'phy': [4, 5]}

In [ ]:
s=set({9,9.0})
print(s)

{9}

In [ ]:
s={("int",9),("float",9.0)}
print(s)

{('int', 9), ('float', 9.0)}

#List

In [ ]:
l=["celia","savio",6,9] # a list can store any type of data within a single list ,but in array it can store only one type of data with one array

In [ ]:
print(l)

['celia', 'savio', 6, 9]

In [ ]:
#list vs string
#string is immutable whereas list is mutable in python
s="celia"
print(s[0])
# l[0]="d"
l=["celia","savio",6,9]
l[1]="babu"
print(l)

c
['celia', 'babu', 6, 9]

In [ ]:
# list slicing
print(l[:2])
print(l[:4])
print(l[3])
print(l[1:])
print(l[1])
print(l[:-1])
print(l[-1])
print(l[-4:])
print(l[-4])

['celia', 'babu']
['celia', 'babu', 6, 9]
9
['babu', 6, 9]
babu
['celia', 'babu', 6]
9
['celia', 'babu', 6, 9]
celia

In [ ]:
#List Methods
l.append(4)
print(l)

['celia', 'babu', 6, 9, 4]

In [ ]:
l=[76,35,56,232,0]
l.sort()
print(l)

[0, 35, 56, 76, 232]

In [ ]:
# l.sort(reverse=True)
# print(l)
# l.reverse()
# print(l)
l.insert(2,85)
print(l)
l[2]=56
print(l)

[0, 35, 85, 85, 56, 76, 85, 85, 232]
[0, 35, 56, 85, 56, 76, 85, 85, 232]

In [ ]:
l.remove(85) # first occurence
print(l)
l.pop(1)
print(l)

[0, 35, 56, 56, 76, 85, 232]
[0, 56, 56, 76, 85, 232]

#tuples

In [ ]:
tup=(1,2,3,4)
print(tup)

(1, 2, 3, 4)

In [ ]:
tup[0]

1

In [ ]:
tup[0]=1

TypeError: 'tuple' object does not support item assignment

In [ ]:
#inorder to add asingle element
tup=(1,)
print(type(tup))
print(tup)

<class 'tuple'>
(1, 2, 3)

In [ ]:
tup.count(2)

1

In [ ]:
tup.index(1)

0

[Apna College](https://www.youtube.com/watch?v=qVyvmzFxF_o)

In [ ]:
#Practice question
n=int(input("enter the subjects no"))
l=[]
for i in range(n):
  s=(int(input()))
  l.append(s)
print(l)

enter the subjects no3
45
56
87
[45, 56, 87]

In [ ]:
def palindrome(n):
  return n==n[::-1]
n=int(input())
l=[]
for i in range(n):
  s=input()
  l.append(s)
ans=palindrome(l)

if ans:
  print('p')
else:
  print('np')

3
celia
savio
celia
p

In [ ]:
l1=[1,2,1]
c=[]
c=l1.copy()
c.reverse()
print(c)
if c==l1:
  print('p')
else:
  print('np')

[1, 2, 1]
p

In [ ]:
l1=[1,2,3,1,2,3]
tup=tuple(l1)
c=tup.count(1)
print(c)

2

#OOP in Python

In [1]:
# class blueprint of object //object -intances of c;ass
class student:
  name="celia"
o1=student()
print(o1)

<__main__.student object at 0x7f7ac431ba10>

In [18]:
class student:
  def __init__(self,fullname,Age):
    self.name=fullname
    self.age=Age
o1=student("celia",23)
print(o1.age)
print(o1.name)
o2=student("babu",59)
print(o2.name)
# print(o1.nam)

23
celia
babu

#attribute

In [21]:
#two types of attribute ---class attribute --object attribute
#attribute can be any variable or data
class student1:
  college_name="LF"  #class attribute
  name="other"
  def __init__(self,name):
    self.name=name #object attribute
s1=student1("karan")
print(s1.college_name)
print(student1.college_name)
print(s1.name)   #object attr > class attr more priority
print(student1.name)

LF
LF
karan
other

#Methods

In [25]:
class employee:
  company="JCT"
  def __init__(self,name,age):
    self.name=name
    self.age=age
  def hello(self):
    print("Hello,",self.name)
  def get_age(self):
    return(self.age)

e1=employee("Babu",89)
e1.hello()
e1.get_age()

Hello, Babu

89

In [33]:
# Practice
class student:
  def __init__(self,name,mark):
    self.name=name
    self.mark=mark
  def avg(self):
    sum=0
    count=0
    for value in self.mark:
      sum=sum+value
      count+=1
    avg=sum//count
    print("avg",avg)

s1=student("celia",[89,78,23])
s1.avg()

avg 63

#Abstraction
hiding the implementation details of class ,showing only the essiential feature to user

In [34]:
class car:
  def __init__(self):
    self.acc=False
    self.Brk=False
    self.clutch=False
  def start(self):
    self.acc=True   # abstraction
    self.Brk=True
    self.clutch=True
    print("car started...")
c1=car()
c1.start()

car started...

#Encapsulation
wrapping up data and function into a single unit



eg whatever we have done in above example

In [47]:
class account:
  def __init__(self,acc_no,bal):
    self.acc_no=acc_no
    self.bal=bal

  def credit(self,m):
    self.bal+=m
    print(self.acc_no,"credited ",m)
    print("balance:",self.get_bal())

  def debit(self,m):
    self.bal-=m
    print(self.acc_no,"debited ",m)
    print("balance:",self.get_bal())

  def get_bal(self):
    return self.bal

c1=account(5687,8797)
c1.credit(56)
c1.debit(48)

5687 credited  56
balance: 8853
5687 debited  48
balance: 8805