<a href="https://colab.research.google.com/github/CeliaBabu2002/Coding-Questions/blob/main/theory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
3
+#find pyramid number sum

https://www.turing.com/interview-questions/cloud




https://prepinsta.com/interview-preparation/technical-interview-questions/cloud-computing/



https://www.mygreatlearning.com/blog/cloud-computing-interview-questions/

cloud questions
Data warehousing Basics, ETL concepts, Cloud fundamentals Unix and shell scripting

In [ ]:
#1
n=int(input())
for i in range(0,n+1):
  for j in range(0,i+1):
    print(j,end=" ")
  print()

In [ ]:
#2
n=int(input())
for i in range(n,0,-1):
  for j in range(i,0,-1):
    print(j,end=" ")
  print()

In [ ]:
#4
n=int(input())
sum=0
for i in range(1,n+1):
  for j in range(1,i+1):
    sum=sum+j
print(sum)

In [ ]:
#5
n=int(input())
sum=0
for i in range(1,n+1):
  sum=sum+i**2
print(sum)

In [ ]:
#6
#find pyramid number sum
n=int(input())
sum=0
cnt=0
i=1
while(sum<n):
  sum=sum+i*i
  cnt+=1
  i=i+1
if(sum==n):
  print(cnt)
else:
  print("invalid")

In [ ]:
#7
#Palindrome
n=int(input())
temp=n
rev=0
while(n>0):
  digit=n%10
  rev=rev*10+digit
  n=n//10
if(rev==temp):
  print('p')
else:
  print('np')

#Sum of Digits

In [ ]:
n=int(input())
sum=0
while(n!=0):
  digit=n%10
  sum=sum+digit
  n//10
print(sum)

121

In [ ]:
"h"

#Dictionary & Set
[Apna College](https://www.youtube.com/watch?v=078tYSD7K8E)

In [ ]:
dict={"name":"celia","address":{"city":"thrissur","state":"kerala"}}
print(dict["address"]["city"])

thrissur

In [ ]:
# to print all keys
print(list(dict["address"].keys()))

['city', 'state']

In [ ]:
# to print all values
print(list(dict["address"].values()))

['thrissur', 'kerala']

In [ ]:
# to return key value pair as tuples
# here we can indiviualy we can retuen by tuple()
print(list(dict.items()))

[('name', 'celia'), ('address', {'city': 'thrissur', 'state': 'kerala'})]

In [ ]:
#to return value according to keyeven if there is no key existed it does'nt create error instead return none another rest of te code works
#
print(dict.get('name'))

None

In [ ]:
# to update the dictionary
new_dict=dict.update({"age":89dictionary using coding questions
                      })
print(dict)

{'name': 'celia', 'address': {'city': 'thrissur', 'state': 'kerala'}, 'age': 89}

#Exercise
Count Word Frequency

    Given a string, count the frequency of each word using a dictionary.
    Input: "apple banana apple orange banana apple"
    Output: {'apple': 3, 'banana': 2, 'orange': 1}

In [ ]:
n="apple banana apple orange banana apple"
dict={}
for word in n.split(" "):
  dict[word]=dict.get(word,0)+1
print(dict)

{'apple': 3, 'banana': 2, 'orange': 1}

Count Character Frequency

    Given a string, count the frequency of each character using a dictionary.
    Input: "hello"
    Output: {'h': 1, 'e': 1, 'l': 2, 'o': 1}

In [ ]:
n="hello"
dict={}
for ch in n:
  dict[ch]=dict.get(ch,0)+1
print(dict)

{'h': 1, 'e': 1, 'l': 2, 'o': 1}

Merge Two Dictionaries

    Given two dictionaries, merge them. If a key exists in both, sum the values.
    Input: d1 = {'a': 10, 'b': 20}, d2 = {'b': 30, 'c': 40}
    Output: {'a': 10, 'b': 50, 'c': 40}

In [ ]:
d1 = {'a': 10, 'b': 20}
d2 = {'b': 30, 'c': 40}
merge=d1.copy()
for key,value in d2.items():
  merge[key]=merge.get(key,0)+value
print(merge)

{'a': 10, 'b': 50, 'c': 40}

In [ ]:
n={"java","python","java","python","dsa","cn"}
# for i in n.split(","):
#   print(f"\"{i}\"",end=",")
# classr={}
# for i in n.split(","):
#   classr[i]=classr.get(i,0)+1
# classes=list(classr.keys())
# print(len(classes))
new_c=set(n)
print(len(new_c))

4

In [ ]:
dict_1={}
n=int(input())
dict_1.update({"phy":n})
c=int(input())
dict_1.update({"chem":c})
print(dict_1)

45
96
{'phy': 45, 'chem': 96}

In [ ]:
dict_2={}
list_1=[]
n=int(input())
for i in range(n):
  new=int(input())
  list_1.append(new)
dict_2['phy']=list_1
print(dict_2)

2
4
5
{'phy': [4, 5]}

In [ ]:
s=set({9,9.0})
print(s)

{9}

In [ ]:
s={("int",9),("float",9.0)}
print(s)

{('int', 9), ('float', 9.0)}

#List

In [ ]:
l=["celia","savio",6,9] # a list can store any type of data within a single list ,but in array it can store only one type of data with one array

In [ ]:
print(l)

['celia', 'savio', 6, 9]

In [ ]:
#list vs string
#string is immutable whereas list is mutable in python
s="celia"
print(s[0])
# l[0]="d"
l=["celia","savio",6,9]
l[1]="babu"
print(l)

c
['celia', 'babu', 6, 9]

In [ ]:
# list slicing
print(l[:2])
print(l[:4])
print(l[3])
print(l[1:])
print(l[1])
print(l[:-1])
print(l[-1])
print(l[-4:])
print(l[-4])

['celia', 'babu']
['celia', 'babu', 6, 9]
9
['babu', 6, 9]
babu
['celia', 'babu', 6]
9
['celia', 'babu', 6, 9]
celia

In [ ]:
#List Methods
l.append(4)
print(l)

['celia', 'babu', 6, 9, 4]

In [ ]:
l=[76,35,56,232,0]
l.sort()
print(l)

[0, 35, 56, 76, 232]

In [ ]:
# l.sort(reverse=True)
# print(l)
# l.reverse()
# print(l)
l.insert(2,85)
print(l)
l[2]=56
print(l)

[0, 35, 85, 85, 56, 76, 85, 85, 232]
[0, 35, 56, 85, 56, 76, 85, 85, 232]

In [ ]:
l.remove(85) # first occurence
print(l)
l.pop(1)
print(l)

[0, 35, 56, 56, 76, 85, 232]
[0, 56, 56, 76, 85, 232]

#tuples

In [ ]:
tup=(1,2,3,4)
print(tup)

(1, 2, 3, 4)

In [ ]:
tup[0]

1

In [ ]:
tup[0]=1

TypeError: 'tuple' object does not support item assignment

In [ ]:
#inorder to add asingle element
tup=(1,)
print(type(tup))
print(tup)

<class 'tuple'>
(1, 2, 3)

In [ ]:
tup.count(2)

1

In [ ]:
tup.index(1)

0

[Apna College](https://www.youtube.com/watch?v=qVyvmzFxF_o)

In [ ]:
#Practice question
n=int(input("enter the subjects no"))
l=[]
for i in range(n):
  s=(int(input()))
  l.append(s)
print(l)

enter the subjects no3
45
56
87
[45, 56, 87]

In [ ]:
def palindrome(n):
  return n==n[::-1]
n=int(input())
l=[]
for i in range(n):
  s=input()
  l.append(s)
ans=palindrome(l)

if ans:
  print('p')
else:
  print('np')

3
celia
savio
celia
p

In [ ]:
l1=[1,2,1]
c=[]
c=l1.copy()
c.reverse()
print(c)
if c==l1:
  print('p')
else:
  print('np')

[1, 2, 1]
p

In [ ]:
l1=[1,2,3,1,2,3]
tup=tuple(l1)
c=tup.count(1)
print(c)

2

#OOP in Python

In [ ]:
# class blueprint of object //object -intances of c;ass
class student:
  name="celia"
o1=student()
print(o1)

<__main__.student object at 0x7f7ac431ba10>

In [ ]:
class student:
  def __init__(self,fullname,Age):
    self.name=fullname
    self.age=Age
o1=student("celia",23)
print(o1.age)
print(o1.name)
o2=student("babu",59)
print(o2.name)
# print(o1.nam)

23
celia
babu

#attribute

In [ ]:
#two types of attribute ---class attribute --object attribute
#attribute can be any variable or data
class student1:
  college_name="LF"  #class attribute
  name="other"
  def __init__(self,name):
    self.name=name #object attribute
s1=student1("karan")
print(s1.college_name)
print(student1.college_name)
print(s1.name)   #object attr > class attr more priority
print(student1.name)

LF
LF
karan
other

#Methods

In [ ]:
class employee:
  company="JCT"
  def __init__(self,name,age):
    self.name=name
    self.age=age
  def hello(self):
    print("Hello,",self.name)
  def get_age(self):
    return(self.age)

e1=employee("Babu",89)
e1.hello()
e1.get_age()

Hello, Babu

89

In [ ]:
# Practice
class student:
  def __init__(self,name,mark):
    self.name=name
    self.mark=mark
  def avg(self):
    sum=0
    count=0
    for value in self.mark:
      sum=sum+value
      count+=1
    avg=sum//count
    print("avg",avg)

s1=student("celia",[89,78,23])
s1.avg()

avg 63

#Abstraction
hiding the implementation details of class ,showing only the essiential feature to user

In [ ]:
class car:
  def __init__(self):
    self.acc=False
    self.Brk=False
    self.clutch=False
  def start(self):
    self.acc=True   # abstraction
    self.Brk=True
    self.clutch=True
    print("car started...")
c1=car()
c1.start()

car started...

#Encapsulation
wrapping up data and function into a single unit



eg whatever we have done in above example

In [ ]:
class account:
  def __init__(self,acc_no,bal):
    self.acc_no=acc_no
    self.bal=bal

  def credit(self,m):
    self.bal+=m
    print(self.acc_no,"credited ",m)
    print("balance:",self.get_bal())

  def debit(self,m):
    self.bal-=m
    print(self.acc_no,"debited ",m)
    print("balance:",self.get_bal())

  def get_bal(self):
    return self.bal

c1=account(5687,8797)
c1.credit(56)
c1.debit(48)

5687 credited  56
balance: 8853
5687 debited  48
balance: 8805

# Delete object

In [ ]:
class student:
  def __init__(self,name):
    self.__name=name
  def nr(self):
    print(self.__name)
s1=student("celia")
print(s1.nr())

celia
None

In [ ]:
del s1.name
print(s1.name) # this because we have deleted the object likwise we can delete object

AttributeError: 'student' object has no attribute 'name'

# Private method and attribute
to make an attribute private we have add __(double underscore) infront of the attribute name to make it private


--private attribute and methodws aremeant to be used only within the class and are not acessible from outside the class

In [ ]:
class student:
  def __init__(self,name):
    self.__name=name
  def nr(self):
    print(self.__name)
s1=student("celia")
print(s1.nr())

celia
None

In [ ]:
class student:
  __name="anonymous"
  print(__name)
  def __init__(self,age):
    self.age=age
  def __hello(self):
    print("hello world")

  def welcome(self):
    print(self.__hello())

s1=student(39)
s1.welcome()

anonymous
hello world
None

#Inheritance

In [ ]:
from posixpath import normcase         #Single Inheritance
class car:
  color="red"
  @staticmethod #the method where self not used ,to make simple method (@staticmethod is decorater)
  def start():
    print("car started")

  @staticmethod
  def stop():
    print("car stopped")

class toyota(car):
  def __init__(self,name):
    self.name=name
car1=toyota("forunte")
print(car1.name)
print(car1.start())
print(car1.stop())
print(car1.color)

forunte
car started
None
car stopped
None
red

#Types of Inheritance

--Single Inheritance


--Multilevel Inheritance


--Multiple Inhertiance

In [ ]:
#Multilevel Inheritance

class car:
  color="red"
  @staticmethod #the method where self not used ,to make simple method (@staticmethod is decorater)
  def start():
    print("car started")

  @staticmethod
  def stop():
    print("car stopped")

class toyota(car):
  def __init__(self,name):
    self.name=name

class forunte(toyota):
  def __int__(self,typev):
    self.typev=typev


car1=forunte("petrol")

print(car1.start())
print(car1.stop())
print(car1.color)

petrol
car started
None
car stopped
None
red

In [ ]:
#Multiple Inheritance
class a:
  vara="a"
class b:
  varb="b"
class c(a,b):
  varc="c"
c1=c()
print(c1.varc)
print(c1.vara)
print(c1.varb)

c
a
b

#Super
to access the method of parent class.

In [ ]:
#Multilevel Inheritance

class car:
  color="red"
  @staticmethod #the method where self not used ,to make simple method (@staticmethod is decorater)
  def start():
    print("car started")

  @staticmethod
  def stop():
    print("car stopped")

class toyota(car):
  def __init__(self,name):
    self.name=name

class forunte(toyota):
  def __init__(self,name,typev):
    super().__init__(name)
    self.typev=typev


car1=forunte("Forunte","petrol")
print(car1.typev)
print(car1.name)
print(car1.start())
print(car1.stop())
print(car1.color)

petrol
Forunte
car started
None
car stopped
None
red

#Class method (@classmethod)

In [ ]:
class student:
  name='anonymus'
  # def __init__(self,name):
  #   student.name=name             #option1

  # def __init__(self,name):          #option2
  #   self.__class__.name=name

  @classmethod
  def name(cls,name):
    cls.name=name
s1=student()
s1.name("rahul")
print(s1.name)
print(student.name)

rahul
rahul

In [1]:
class student:
  def __init__(self,phy,chem,math):
    self.phy=phy
    self.chem=chem
    self.math=math
    self.percentage=str(((self.math+self.phy+self.chem)/300)*100)+"%"
s1=student(98,56,45)
print(s1.percentage)

66.33333333333333%

In [2]:
s1.chem=90
print(s1.percentage) # there no change is reflected

66.33333333333333%

In [9]:
class student:
  def __init__(self,phy,chem,math):
    self.phy=phy
    self.chem=chem
    self.math=math

  def percentage(self):
    return str(((self.math+self.phy+self.chem)/300)*100)+"%"
s1=student(98,56,45)
print(s1.percentage())

66.33333333333333%

In [10]:
s1.chem=90
print(s1.percentage())

77.66666666666666%

In [13]:
# "@property"

class student:
  def __init__(self,phy,chem,math):
    self.phy=phy
    self.chem=chem
    self.math=math

  @property
  def percentage(self):
    return str(((self.math+self.phy+self.chem)/300)*100)+"%"
s1=student(98,56,45)
print(s1.percentage)
s1.chem=90
print(s1.percentage)

66.33333333333333%
77.66666666666666%

In [26]:
from ctypes import c_int32
#Dunder Functions-function specifed using __(double underscore) eg__init__,__add__ logic is builtin

class complex:
  def __init__(self,real,img):
    self.real=real
    self.img=img
  def output(self):
    print(self.real ,"i +",self.img,"j")
  def __add__(self,c2):
    new_real=self.real+c2.real
    new_img=self.img+c2.img
    return complex(new_real,new_img)

c1=complex(3,4)
c1.output()

c2=complex(5,9)
c2.output()

c3=c1+c2
c3.output()

3 i + 4 j
5 i + 9 j
8 i + 13 j

In [34]:
class circle:
  def __init__(self,rad):
    self.rad=rad
  def area(self):
    area=3.14*(self.rad)**2
    print(f"area:{area:.2f}")
  def perimeter(self):
    perimeter=2*3.14*self.rad
    print(f"perimeter:{perimeter:.2f}")


c1=circle(5)
c1.area()
c1.perimeter()

area:78.50
perimeter:31.40

In [42]:
class employee:
  def __init__(self,role,dept,salary):
    self.role=role
    self.dept=dept
    self.salary=salary

  def showDetails(self):
    print(self.role)
    print(self.dept)
    print(self.salary)
class engineer(employee):
  def __init__(self,name,age):
    self.name=name
    self.age=age
    # super().__init__(role,dept,salary)

    # or

    super().__init__("analyst","ai",89)

e1=engineer("celia",22)
e1.showDetails()

analyst
ai
89

In [47]:
class order:
  def __init__(self,item,price):
    self.item=item
    self.price=price

  def __gt__(self,p2):
    return self.price>p2.price
p1=order("soap",254)
p2=order("cake",895)

print(p1>p2)

False